.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app__main {
  flex-grow: 1;
  background-image: url("./cat.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  padding: 0.25em;
  text-align: center;
  background-color: #282c34;
  color: white;
}

.app__title {
  font-size: 1em;
  text-align: center;
}

.app__footer {
  margin-top: auto;
}

.footer {
  text-align: center;
}

.todo-list {
  display: inline-grid;
  row-gap: 0.5em;
}

.todo-list-item {
  display: grid;
  grid-template-columns: 12em 2.5em 3.5em 3em 2em 2em;
  column-gap: 0.25em;
  align-items: start;
}

.todo-list li:not(:first-child) {
  border-top: 1px solid lightgray;
  padding-top: 0.5em;
}

.todo-list-item__text {
  word-break: break-all;
}

.button {
  min-height: 2em;
}
